<!-- <!DOCTYPE html> -->
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<!-- <head> -->
<!--  <link rel="stylesheet" type="text/css" href="/css/footer.css"> -->
<!-- </head> -->

<!--   <body> -->
<!--     <div id="spacemyfooter" th:fragment="footerFragment"> -->
<!--       <div style="overflow:hidden;"> -->
<!--         <div class="footerlinks_1"> -->
<!--           <a href="//www.w3schools.com" class="ga-bottom" aria-label="W3Schools.com"> -->
<!--             <i class="fa fa-logo"></i> -->
<!--           </a> -->
<!--         </div> -->
<!--         <div class="footerlinks_1"><a href="/plus/index.php" title="Become a PLUS user" class="ga-bottom">PLUS</a></div> -->
<!--         <div class="footerlinks_1"><a href="/spaces/index.php" title="Get your own website" class="ga-bottom">SPACES</a></div> -->
<!--         <div class="footerlinks_1"><a href="https://campus.w3schools.com/collections/certifications" target="_blank" class="ga-bottom">GET CERTIFIED</a></div> -->
<!--         <div class="footerlinks_1"><a href="/academy/index.php" target="_blank" class="ga-bottom">FOR TEACHERS</a></div> -->
<!--         <div class="footerlinks_1"><a href="/academy/index.php" target="_blank">FOR BUSINESS</a></div> -->
<!--         <div class="footerlinks_1"><a href="javascript:void(0);" onclick="reportError();return false">CONTACT US</a></div> -->
<!--       </div> -->

<!--       <style> -->
/*         #err_message { */
/*           padding: 8px 16px 16px 40px; */
/*           border-radius: 5px; */
/*           display: none; */
/*           position: relative; */
/*           background-color: #2D3748; */
/*           color: #FFF4A3; */
/*           font-family: 'Source Sans Pro', sans-serif; */
/*         } */
/*         #err_message h2 { */
/*           font-family: 'Source Sans Pro', sans-serif; */
/*         } */
/*         #err_message p { */
/*           color: #f1f1f1; */
/*         } */
/*         #err_message #close_err_message { */
/*           position: absolute; */
/*           right: 0; */
/*           top: 0; */
/*           font-size: 20px; */
/*           cursor: pointer; */
/*           width: 30px; */
/*           height: 30px; */
/*           text-align: center; */
/*         } */
/*         #err_message #close_err_message:hover { */
/*           background-color: #FFF4A3; */
/*           color: #2D3748; */
/*           border-radius: 50%; */
/*         } */
<!--       </style> -->

<!--       <div id="err_message"> -->
<!--         <span id="close_err_message" onclick="this.parentElement.style.display='none'">×</span> -->
<!--         <h2>Contact Sales</h2> -->
<!--         <p>Email us at: sales@w3schools.com</p> -->
<!--         <h2>Report Error</h2> -->
<!--         <p>Email us at: help@w3schools.com</p> -->
<!--       </div> -->

<!--       <div class="footertext"> -->
<!--         W3Schools is optimized for learning and training. <br> -->
<!--         While using W3Schools, you agree to our <a href="/about/about_copyright.asp" class="ga-bottom">terms of use</a> and <a href="/about/about_privacy.asp" class="ga-bottom">privacy policy</a>.<br><br> -->
<!--         <a href="/about/about_copyright.asp" class="ga-bottom">Copyright 1999-2025</a> by Refsnes Data. All Rights Reserved. -->
<!--       </div> -->
<!--     </div> -->
<!--   </body> -->
<!-- </html> -->
