<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Header</title>

<!-- <style> -->

<!-- </style> -->
<link rel="stylesheet" type="text/css" href="/css/header.css">
<link rel="stylesheet" href="/css/chatContainer.css" />
</head>
<body>
	<header th:fragment="header">
		<div id="header-content" style="display: flex;">
			<!-- 로그인 상태인 경우 -->
			<div th:if="${isLoggedIn}" class="logged-in">
				<input type="hidden" th:value="${isLoggedIn}" id="isLoggedIn">
				<input type="hidden" th:value="${id}" id="loggedId"> <input
					type="hidden" th:value="${loggedUserId}" id="loggedUserId">
				<p>
					환영합니다, <span th:text="${name}"></span>님
				</p>
				<a th:href="@{/logout}">로그아웃</a> <a
					th:href="@{/mypage/{id}(id=${id})}">마이페이지</a> <a
					th:href="@{/boardlist/{id}(id=${id})}">내가 쓴 게시글</a> <a
					th:href="@{/commentlist/{id}(id=${id})}">내가 쓴 댓글</a>

				<!-- 나의 채팅방 버튼 -->
				<a href="#" id="myChattingRoomList"> <img
					src="/icon/comment.png" alt="나의 채팅방" width="20" height="20"
					style="margin-Top: 1px;" />

				</a>
				<button type="button" id="alarmButton">
					<img src="/icon/bell.png" alt="알림" width="20" height="20" />
				</button>

				<div style="display: flex;">
					<!-- 채팅방 리스트 -->
					
						<div class="chattingRoomList">
						<div id="chattingRoomScroll">
							<table>
								<tbody id="chattingRoomListBody">
									<!-- 채팅방 목록이 여기에 동적으로 추가됩니다 -->
								</tbody>
							</table>
						</div>
					</div>
					<!-- 알림 리스트 -->
					<div class="alarmList">
						<table>
							<tbody id="alarmListBody">
								<!-- 알림 목록이 여기에 동적으로 추가됩니다 -->
							</tbody>
						</table>


					</div>



				</div>
			</div>
			<!-- 기본 제목 표시 -->
			<h1 th:text="${title}">기본 제목</h1>

			<!-- 비로그인 상태인 경우 -->
			<div th:if="${!isLoggedIn}">
				<a th:href="@{/formlogin}">로그인</a> <a th:href="@{/join}">회원가입</a> <a
					th:href="@{/findid}">아이디 찾기</a> <a th:href="@{/findpassword}">비밀번호
					찾기</a>
			</div>

			<!-- 공통 메뉴 -->
			<div>
				<a href="/board/list">게시판</a> <a href="/board/writeboard">글쓰기</a>
			</div>
		</div>
	</header>

	<script src="/js/headerUI.js" type="module">
</script>
	<script>
		// Make the chat container draggable
		//     const chatContainer = document.getElementById("chat-container");

		//     chatContainer.addEventListener('mousedown', (e) => {
		//         // Get the initial position of the mouse
		//         let offsetX = e.clientX - chatContainer.offsetLeft;
		//         let offsetY = e.clientY - chatContainer.offsetTop;

		//         // Function to move the chat container with the mouse
		//         const mouseMoveHandler = (e) => {
		//             chatContainer.style.left = `${e.clientX - offsetX}px`;
		//             chatContainer.style.top = `${e.clientY - offsetY}px`;
		//         };

		//         // Add the event listener for mousemove and mouseup
		//         document.addEventListener('mousemove', mouseMoveHandler);

		//         // Remove the event listeners once the mouse is released
		//         document.addEventListener('mouseup', () => {
		//             document.removeEventListener('mousemove', mouseMoveHandler);
		//         }, { once: true });
		//     });
	</script>

</body>
</html>
