<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
</head>
<body>
    <header>
        <div id="header-content">
            <!-- 로그인 상태인 경우 -->
            <div th:if="${isLoggedIn}">
                <p>환영합니다, <span th:text="${name}"></span>님</p>
                <a th:href="@{/logout}">로그아웃</a>
                <a th:href="@{/mypage/{id}(id=${id})}">마이페이지</a>
                <!-- 내가 쓴 게시글 링크 -->
                <a th:href="@{/boardlist/{id}(id=${id})}">내가 쓴 게시글</a>
                <!-- 내가 쓴 댓글 링크 -->
                <a th:href="@{/commentlist/{id}(id=${id})}">내가 쓴 댓글</a>

            </div>

            <!-- 기본 제목 표시 -->
            <h1 th:text="${title}">기본 제목</h1>

            <!-- 비로그인 상태인 경우 -->
            <div th:if="${!isLoggedIn}">
                <a th:href="@{/formlogin}">로그인</a>
                <a th:href="@{/join}">회원가입</a>
            </div>

            <!-- 공통 메뉴 -->
            <a href="/board/allboard">게시판</a>
            <a href="/board/writeboard">글쓰기</a>
        </div>
    </header>
    <main>
        <p>메인 페이지</p>
    </main>
</body>
</html>
