<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
     <link rel="stylesheet" href="/css/joinForm.css">
        <link rel="stylesheet" href="/css/addressModal.css">
</head>

<body>
    <div th:replace="~{header.html}"></div>
<div>
    <form action="/serverjoin" method="post" enctype="multipart/form-data" onsubmit="return joinValidation(e)">
        <!-- 즉, 파일을 서버로 전달하기 위해서는 form 태그에 enctype="multipart/form-data" 속성을 추가해야 합니다. -->
        <h2 style="margin-bottom:20px;">회원가입</h2>
        <div class="formdata">
            <!-- 아이디 -->
            <div style="display :inline-block; align-items: center; margin-bottom: 10px;">
                <label for="userid" style="margin-right: 10px;">아이디</label>
                <button type="button" onClick="checkId()">중복확인</button><br>
            </div>
            <input type="text" id="userid" name="userid" required>

            <br>

            <!-- 비밀번호 -->
            <label for="password">비밀번호</label>
            <br>
            <input type="password" id="password" name="password" required><br>

            <!-- 비밀번호 확인 -->
            <label for="password_check">비밀번호 확인</label>
            <br>
            <input type="password" id="password_check" name="password_check" required><br>

            <!-- 이름 -->
            <label for="name">이름</label>
            <br>
            <input type="text" id="name" name="name" required><br><br>

            <!-- 프로필 이미지 확인 -->
            <!-- 사용자가 프로필 이미지를 업로드할 수 있는 입력 필드입니다. -->
<!--             <div style="display: flex; align-items: center; margin-bottom: 10px;"> -->
                <label for="profileImage" style="margin-right: 10px;">프로필 이미지</label>
         <br>
<!--             </div> -->
       <input type="file" id="profileImage" name="profileImage">
            <!-- 이미지 미리보기 -->
            <!-- 사용자가 선택한 이미지를 미리보기로 보여주는 영역입니다. -->
            <div id="imagePreview" style="margin-top: 10px;">
                <img id="previewImage" src="#" alt="Profile Image Preview" style="display: none; width: 100px; height: 100px;">
            </div>

            <br>

            <!-- 나이 -->
            <label for="age">나이</label>
            <br>
            <input type="number" id="age" name="age" required><br>

            <!-- 성별 -->
            <label for="gender">성별</label>
            <br>
            <select id="gender" name="gender" required>
                <option value="">선택</option>
                <option value="MALE">남자</option>
                <option value="FEMALE">여자</option>
            </select><br>

            <!-- 연락처 -->
            <label for="phone">연락처</label>
            <br>
            <input type="tel" id="phone" name="phone" required><br>

            <!-- 주소 -->
            <div style ="display:inline-block;">
            <label for="address2">주소</label><button type ="button"  id="addressButton" >검색</button>
            </div>
            <br>
           	<input type="text"  id="address"  name="address"  placeholder="주소를 검색하세요" required>
            
            
            
            <!-- 모달 창 -->
<div id="addressModal" class="modal">
  <div class="modal-content">
    <span id="closeModal" class="close">&times;</span>
    <h2>주소 검색</h2>
    <input type="text" id="addressKeywordModal" placeholder="검색할 주소" required>
    <button type="button" id="addressButtonModal">검색</button>
    <div id="addressResult"></div>
  </div>
</div>
            
            <input type ="text"  id="address2" name="address2" placeholder="세부 주소를 입력하세요"  required="required"></textarea>
            <br>

            <!-- 관리자 패스워드 -->
            <label for="password_admin">※ 관리자이십니까? (패스워드를 입력할 경우 관리자로 전환됩니다)</label>
            <br>
            <input type="password" id="password_admin" name="password_admin" cols="40" rows="3" /><br>
			<br><br>
            <!-- 회원가입 버튼 -->
            <button type="submit">회원가입</button>
        </div>
    </form>
</div>

        <div th:replace="~{footer.html}"></div>
<!--     	 <th:block th:replace="/footer :: footerFragment"></th:block> -->
         <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
       <script src="/js/checkId.js" type="text/javascript"></script>       
    <script  src="/js/joinValidation.js" type="text/javascript"></script>
    <!-- 모듈은 윈도우 전역 scope로 올라가지 않는다 . 따라서 onClick 같은 인라인 방식보다 모듈에서 이벤트리스너로 등록해야한다 -->
        <script  src="/js/kakaoAddressApi.js" type="module"></script>
  <script>
        // 프로필 이미지 미리보기
        document.getElementById('profileImage').addEventListener('change', function(event) {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = function(e) {
                const previewImage = document.getElementById('previewImage');
                previewImage.src = e.target.result;
                previewImage.style.display = 'block'; // 이미지를 보여주기
            };

            if (file) {
                reader.readAsDataURL(file); // 이미지 파일을 DataURL로 변환
            }
        });
    </script>
    
</body>
</html>
