<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>게시글 작성</title>
<style>
body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 20px;
	background-color: #f9f9f9;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	background: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-top: 65px;
}

h1 {
	text-align: center;
	color: #333;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-top: 10px;
	font-weight: bold;
}

input:not([type="checkbox"]), textarea, select {
	margin-top: 5px;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 4px;
	width: 100%;
	box-sizing: border-box;
}

textarea {
	height: 150px;
	resize: none;
}

/* button { */
/* 	margin-top: 20px; */
/* 	padding: 10px; */
/* 	font-size: 16px; */
/* 	color: #fff; */
/* 	background-color: #007bff; */
/* 	border: none; */
/* 	border-radius: 4px; */
/* 	cursor: pointer; */
/* } */








button:hover {
	background-color: #0056b3;
}
  
</style>
 <link rel="stylesheet" href="/css/addressModal.css">
</head>
<body>
    <div th:replace="~{header.html}"></div>
	<div class="container">
		<h1>게시글 수정</h1>

		<!--         <form action="/board/updateboard/{id}(id=${board.id})" method="PUT"> -->
		<!-- 글 번호 입력 -->
		<!--             <label for="title">글 번호</label> -->
		<input type="hidden" th:value="${board.id}" id="id" name="id"
			placeholder="제목을 입력하세요" required>


		<!-- 제목 입력 -->
		<label for="title">제목</label> <input type="text"
			th:value="${board.title}" id="title" name="title"
			placeholder="제목을 입력하세요" required> <label for="name">작성자</label>
		<div style="display: flex; align-items: center;">
			<!-- 프로필 이미지 -->
			<div th:if="${board.memberEntity.profileImage != null}">
				<div id="imagePreview" style="margin-top: 10px;">
					<img id="previewImage"
						th:src="@{{imagePath}(imagePath=${board.memberEntity.profileImage})}"
						alt="Profile Image Preview"
						style="display: block; width: 50px; height: 50px; margin-right: 10px;">
				</div>
			</div>

			<div th:if="${board.memberEntity.profileImage == null}">
				<div id="imagePreview" style="margin-top: 10px;">
					<img id="previewImage" src="/boardimage/nullimage.jpg"
						alt="no profile image"
						style="display: block; width: 50px; height: 50px; margin-right: 10px;">
				</div>
			</div>

    

			<!-- 이름 -->
			<span th:text="${board.memberEntity.name}"></span>
		</div>
		
		
		<label for="buy_Sell">항목</label> <select id="buy_Sell"
				name="buy_Sell" required selected>
				<option value="">항목을 선택하세요</option>
				<!--                 서버에서 작성자 목록을 동적으로 채워야 함 -->
				<option value="팝니다" th:selected="${board.buy_Sell.name == '팝니다'}">팝니다</option>
				<option value="삽니다" th:selected="${board.buy_Sell.name ==  '삽니다'}">삽니다</option>
			</select> 
		
		
		
		
		    <label for="category">물품 종류</label> 
			<select id="category" name="category">
				<!-- 기본 선택 항목 -->
				<option value="" th:if="${board.category == null}" selected>물품 종류를
					선택하세요</option>

				<!-- 예제 카테고리 목록 -->
				<option value="식품" th:selected="${board.category.name == '식품'}">식품</option>
				<option value="티켓" th:selected="${board.category.name == '티켓'}">티켓</option>
				<option value="가구" th:selected="${board.category.name == '가구'}">가구</option>
				<option value="유아동" th:selected="${board.category.name == '유아동'}">유아동</option>
				<option value="의류" th:selected="${board.category.name == '의류'}">의류</option>
				<option value="가전" th:selected="${board.category.name == '가전'}">가전</option>
				<option value="생활" th:selected="${board.category.name == '생활'}">생활</option>
				<option value="취미" th:selected="${board.category.name == '취미'}">취미</option>
				<option value="도서" th:selected="${board.category.name == '도서'}">도서</option>
				<option value="뷰티" th:selected="${board.category.name == '뷰티'}">뷰티</option>
				<option value="기타" th:selected="${board.category.name == '기타'}">기타</option>
			</select>
			
					<label for="price">물품명</label> 
		<input type="text" id="product"
				name="product" th:value="${board.product}" placeholder="물품명을 입력하세요" required />
	
		<label for="price">가격</label> 
		<input type="text" id="price"
				name="price" th:value="${board.price}" placeholder="가격을 입력하세요" required />
				
				
				
				     <!-- 주소 -->
				            <input type ="hidden"  id="boardAddress" name="boardAddress"  th:value = "${board.address}"  placeholder="게시물의 거래 장소">
<!--             <div style ="display:inline-block;"> -->
            <label for="address2">주소</label>
<!--             <button type ="button"  id="addressButton" >검색</button> -->
<!--             </div> -->
<!--             <br> -->
           	<input type="text"  id="address"  name="address"  placeholder="주소를 검색하세요" required>
            
            
            
            <!-- 모달 창 -->
<div id="addressModal" class="modal">
  <div class="modal-content">
    <span id="closeModal" class="close">&times;</span>
    <h2>주소 검색</h2>
    <div style="display:flex;">
    <input type="text" id="addressKeywordModal" placeholder="검색할 주소" style="width:80%;margin-right:20px;">
    <button type="button" id="addressButtonModal" class="small-btn">검색</button>
    </div>
    <div id="addressResult"></div>
  </div>
</div>
            
            <input type ="text"  id="address2" name="address2" placeholder="세부 주소를 입력하세요" required></textarea>
            <br>
		
		
		<!--             작성자 선택 -->
		<!--               <label for="name">작성자</label> -->
		<!-- 			  <input type="text" th:value="${board.MemberEntity.name}" id="name" name="name" readOnly/> -->

		<!-- 			   <label for="userid">작성자 아이디</label> -->
		<input type="hidden" th:value="${board.memberEntity.userid}"
			id="userid" name="userid" readOnly />

		<!--             <select id="member_id" name="member_id" required> -->
		<!--                 <option value="">작성자를 선택하세요</option> -->
		<!--                 서버에서 작성자 목록을 동적으로 채워야 함 -->
		<!--                 <option value="1">작성자 1</option> -->
		<!--                 <option value="2">작성자 2</option> -->
		<!--                 <option value="3">작성자 3</option> -->
		<!--             </select> -->



		<label for="boardFile"  style="display:flex; gap:5px;">첨부 파일	
			<input type ="checkbox"  name="nullimageButton"  id = "nullimageButton"> <span style="margin-top: 5px;font-size: 10px;">사진 첨부 안함</span></input>
 		</label>
 		

 		 <input type="file"
			id="boardFiles" name="boardFiles" multiple />
		<!--         boardFiles 배열을 반복하여 이미지를 출력 -->



		<div
    style="display: flex; flex-direction: row; flex-wrap: wrap; margin-top: 10px;"
    id="existingFiles">
    <div th:each="file : ${boardFiles}">
        <div id="imagePreview"
            style="position: relative; margin-right: 10px; margin-bottom: 10px; width: 100px; height: 100px;">
            <!-- 이미지 -->
            <a th:href="@{${file}}"> 
                <img th:src="@{${file}}"
                    alt="첨부 파일 미리보기" loading="lazy"
                    style="display: block; width: 100%; height: 100%; object-fit: cover;">
            </a>
            <!-- X 버튼 - 이미지 우측 상단에 겹치게 -->
            <button 
                style="position: absolute; top: -5px; right: -5px; background-color: red; color: white; border: none; border-radius: 50%; width: 20px; height: 20px; cursor: pointer;"
                id="displayButton"  ><b>X</b></button>
        </div>
    </div>
</div>

<!-- onClick="displayButton(`${file}`)" -->




		<!-- 내용 입력 -->
		<label for="contents">내용</label>
		<textarea id="contents" th:text="${board.contents}" name="contents"
			placeholder="내용을 입력하세요" required></textarea>

		<!-- 작성 버튼 -->
<!-- 		<button type="button" 	style="background-color: #4caf50; color: white; padding: 5px 10px; border-radius: 5px; border: none; cursor: pointer;" id="updateBoard"><b>수정</b></button> -->

<!-- 	<div style ="width:100%"> -->
<!-- 	<button type="button" 	style="background-color: #4caf50; color: white; padding: 5px 10px; border-radius: 5px; border: none; cursor: pointer;" id="updateBoard"><b>수정</b></button> -->
<!-- 	</div> -->


<div style="width: 100%;">
  <button type="button"
    style="background-color: #4caf50; color: white; padding: 10px; border-radius: 5px; border: none; cursor: pointer; width: 100%;"
    id="updateBoard"><b>수정</b></button>
</div>


		<!--         </form> -->
	</div>

    <div th:replace="~{footer.html}"></div>
<!-- 		 <th:block th:replace="/footer :: footerFragment"></th:block> -->
		 
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="/js/updateBoard.js" type="module"></script>
	<script  src="/js/displayFiles.js"></script>
    <script  src="/js/kakaoAddressApi.js" type="module"></script>
</body>

</html>
